* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #95a5a6;
}
h1 {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    background-color: antiquewhite;
}

/* IDENTIFICIDAORES DE ID */
#iniciaJogo {
    background-color: #2980b9;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    margin: auto;
    padding: 25px;
    text-align: center;
    cursor: pointer;
}
#encerraJogo {
    position: absolute;
    background-color:#c0392b;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    padding: 20px;
    top: 0px;
    right: 0px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    display: none;
}
#pontos {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 75px;
    font-size: 25px;
    display: none;
    /*background-color: aquamarine;*/
}
#contador {
    font-size: 25px;
}

/* IDENTIFICIDAORES DE CLASSES */
.bola {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
}
.container {
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;    
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    background-color: aquamarine;
}